@font-face {
    font-family: heebo;
    src: url(https://fonts.googleapis.com/css?family=Heebo);
  }
  
  
  .a{
    font-family: Heebo;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
  }