*{  margin: auto;}

.section-header{    
  background-image: url("img/bannen.png");
  background-size: cover;
  background-attachment: fixed;
  height: 811px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 width: 1440px;
 
}
.container {
   position: relative;
    max-width: 1140px;
    height: 113px;
    margin-left: 150px;   
    background-color:#ffffff;   
        
  }
  .section_logo{
    width: 130px;
    margin-left: 30px;
  }


  
.section-header-conection ul{
  position: absolute;
    height: 40px;
    width: 600px;
    background-color:#ffffff;   
    margin-top: -100px;   
    right: 0px;

}

.section-header-conection  li{
  float: left;
  width: 45px; 
  margin-top: 5px;
  object-fit: contain;
list-style: none;
}
.form-inline{
  position: relative;   
  background-color:#ffffff;
  top: -90px;
  float: right;
  
}
.section-header-list {
  position: relative;
height: 50px;
width: 750px;

top:-40px;

}
.section-header-list{
  list-style-type: none;
    padding-left: 30px;
}
.section-header-list li{
  float: left;
  width: 150px;
  height: 21px;
  background-color:#ffffff;
  text-align: center;
  list-style-type: none;
}
.section-header-list a {
  font-family: Heebo;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    text-decoration: none;
}
.Path{
  position: absolute;
  width: 158.4px;
  height: 67.5px;
  box-shadow: 0 3px 0 0 #09235a;
  background-color: #1e4393;
  top: 80px;
  left: 950px;
  border-radius: 15px
}
.Path img{
  margin-top: 20px;
  margin-left: 30px;
}
.Path p{
  margin-top: -25px;
  margin-left: 80px;
  font-family: Heebo;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.What{ 
    width: 1140px;
    height: 214px;
    font-family: Heebo;
    font-size: 77px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
   
    margin-top: 100px;
  
}
.What-style1{
  font-size: 44px;
  font-weight: normal;
}
.section-plan-Subtraction{
  width: 1440px;
  height: 697.7px;
  opacity: 0.73;
  background-color: #f7b809;
}
.row-plan-main-img{
  position: relative;
  width: 1160px;
  height: 490px;
  
  top: 90px;
  display: flex;
  flex-wrap: wrap;
}
.section-plan-iterm{
position: absolute;
display: flex;
flex-wrap: wrap;
width: 361px;
min-height: 485px;
background-color: rgb(62, 13, 238);
left: 0px;

}
.section-plan-iterm img{
  position: absolute;
}
.section-plan-lorem{
position: absolute;
  font-family: Heebo;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
   top: 280px;
   left: 30px;
}
.text1{
  position: relative;;
  left: 40px;
  top: -25px;
  display: flex;
 flex-wrap: wrap;
 max-width: 370px;
}
.text2{
  position: relative;
  left: 50px;
  top: -10px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

}
.Rectangle {
  position: absolute;
  width: 106px;
  height: 34px;
  border-radius: 4px;
  border: solid 1.5px #ffffff;
  top:400px;
  left: 100px;
  text-align:center;
  color: rgb(241, 237, 237);
}

.section-plan-iterm2{
  position: relative;
  width: 361px;
  height: 485px;
  background-color: midnightblue;
  left: 290px;
}

  .section-plan-lorem2{
    position: absolute;
    font-family: Heebo;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    left: 40px;
    margin-top: 40px;
    
  }
  
  .section-plan-iterm3{
    position: relative;
    width: 361px;
  height: 485px;
  background-color: midnightblue;
  left: 110px;
  }
  .princing{   
    background-image: url(img/citii.png);   
    background-size: cover;
    background-attachment: fixed;
    height: 249px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   width: 1440px;
      
  }
  .Rectangle2{
   position: relative;
   width: 1440px;
   height: 249px;
   opacity: 0.79;
   background-color: #1e4393;
 }
 .whatup{
   position: relative;
   top: -200px;
   color: #ffffff;
 }
 .whatup p{
   position: absolute; 
   font-family: Heebo;
   font-size: 36px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 0.78;
   letter-spacing: 1.91px;
   text-align: left;
   color: #ffffff;
   top: 50px;
   left: 650px;
 }
 .whatup hr{
   position: absolute;
  width: 10%;
 size: 5px;
 left: 680px;
    
 }
 .section-plan-step{
   background-color: #ffffff;
   height: 873px;
   width: 100%;
 }
 
.container-step {
  width: 1440px;
  height: 873px;
  background-color:#ffffff;
}
 .row-step{
   position: relative;
   width: 1200px;
   height: 300px;
   background-color:#ffffff;
   top: 90px;
 }
 .step1{
  
  font-family: Heebo;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 30px;
 }
 .row-step hr{  
 position: absolute;
 width: 5%;
size:0px;

}
.lorem{
  position: absolute;
  width: 341.8px;
  height: 96px;
  font-family: Heebo;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  top: 100px;
  
}



.step2{  
  font-family: Heebo;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
 margin-top: -80px;
 margin-left: 450px;
 }
 .step3{
  font-family: Heebo;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
 margin-top: -80px;
 margin-left: 900px;
 }
 .row-step2{
  position: relative;
   width: 1200px;
   height: 300px;
   background-color: rgb(250, 249, 249);
   top: 150px;
 }
 .step4 {
  font-family: Heebo;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 30px;
 }
 .step4 hr{  
 position: absolute;
 width: 5%;
size:0px;
}

.step5 {
  font-family: Heebo;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 450px;
  margin-top: -80px;
 }
 .step5 hr{  
  position: absolute;
  width: 5%;
 size:0px;
 }
 .step6 {
  font-family: Heebo;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 900px;
  margin-top: -80px;
 }
 .step6 hr{  
  position: absolute;
  width: 5%;
 size:0px;
 }
 .section-Path{ 
    background-color: #ffffff;
    height: 879px;
    width: 100%;
  }
 .container-path{
   width: 1440px;
   height: 879px;
   background-color: #ffffff;
 }
 .sliver{
  position: relative;
  height: 707px;
  width: 370px;
  background-color: cornsilk;
  top: 30px;
  right: 400px;
}
.bg{
  width: 370px;
  height: 85px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #dfdfdf;
}
.bg p {  
  font-family: Heebo;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: 3.47px;
  text-align: center;
  color: #ffffff;
}
.all h2{
  position: relative;
 
  font-family: Heebo;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal; 
  letter-spacing: normal;
  text-align: center;
  color: #4d4f5c;
  top:15px;
}
.all h1 {
  position: relative;
  font-family: Heebo;
  font-size: 70px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: right;
  color: #1e4393;
  top:30px;
  right: 110px;
}
.month{
  position: relative;
  font-family: Heebo;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: left;
  color: #1e4393;
  left:270px;
  top: -20px;
}
.danhmuc ul{
position: relative;
background: #f5f6fa;
padding: 0;
text-align:left;
list-style-type: none;
top:60px;


}
.danhmuc li{  
  position: relative;
 height: 46px;
 border-bottom: 1px solid #e8e8e8;
 
}
.danhmuc a{
  position: relative;
  left: 120px;
  font-family: Heebo;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #43425d;
  text-decoration: none;
}
.danhmuc span{
  position: absolute;
  top: -95px;
  font-size: 70px;
  left: -20px;
}
.try{
  width: 370px;
  height: 170px;
  background-color: #1e4393;
}
.try p{
  position: absolute;
  width: 98px;
  height: 27px;
  font-family: Heebo;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 12;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  left: 130px;
}
.gold{
  position: relative;
  height: 707px;
  width: 370px;
  background-color: cornsilk;
  top:-670px;
  right: 500px;
  float: right;
}
.bg1{
  width: 370px;
  height: 85px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #f7b809;
}
.bg1 p {  
  font-family: Heebo;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: 3.47px;
  text-align: center;
  color: #ffffff;
}
.all h2{
  position: relative;
 
  font-family: Heebo;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal; 
  letter-spacing: normal;
  text-align: center;
  color: #4d4f5c;
  top:15px;
}
.all h1 {
  position: relative;
  font-family: Heebo;
  font-size: 70px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: right;
  color: #1e4393;
  top:30px;
  right: 110px;
}
.month{
  position: relative;
  font-family: Heebo;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: left;
  color: #1e4393;
  left:270px;
  top: -20px;
}
.danhmuc ul{
position: relative;
background: #f5f6fa;
padding: 0;
text-align:left;
list-style-type: none;
top:60px;


}
.danhmuc li{  
  position: relative;
 height: 46px;
 border-bottom: 1px solid #e8e8e8;
 
}
.danhmuc a{
  position: relative;
  left: 120px;
  font-family: Heebo;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #43425d;
  text-decoration: none;
}
.danhmuc span{
  position: absolute;
  top: -95px;
  font-size: 70px;
  left: -20px;
}
.try{
  width: 370px;
  height: 170px;
  background-color: #1e4393;
}
.try p{
  position: absolute;
  width: 98px;
  height: 27px;
  font-family: Heebo;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 12;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  left: 130px;
}

.pla{
  position: relative;
  height: 707px;
  width: 370px;
  background-color: cornsilk;
  top: -670px;  
  float: right;
  right: -300px;
}
.bg2{
  width: 370px;
  height: 85px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #fe9f10;
}
.bg2 p {  
  font-family: Heebo;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: 3.47px;
  text-align: center;
  color: #ffffff;
}
.all h2{
  position: relative;
 
  font-family: Heebo;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal; 
  letter-spacing: normal;
  text-align: center;
  color: #4d4f5c;
  top:15px;
}
.all h1 {
  position: relative;
  font-family: Heebo;
  font-size: 70px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: right;
  color: #1e4393;
  top:30px;
  right: 110px;
}
.month{
  position: relative;
  font-family: Heebo;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: left;
  color: #1e4393;
  left:270px;
  top: -20px;
}
.danhmuc ul{
position: relative;
background: #f5f6fa;
padding: 0;
text-align:left;
list-style-type: none;
top:60px;


}
.danhmuc li{  
  position: relative;
 height: 46px;
 border-bottom: 1px solid #e8e8e8;
 
}
.danhmuc a{
  position: relative;
  left: 120px;
  font-family: Heebo;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #43425d;
  text-decoration: none;
}
.danhmuc span{
  position: absolute;
  top: -95px;
  font-size: 70px;
  left: -20px;
}
.try{
  width: 370px;
  height: 170px;
  background-color: #1e4393;
}
.try p{
  position: absolute;
  width: 98px;
  height: 27px;
  font-family: Heebo;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 12;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  left: 130px;
}

.party{
  width: 1440px;
  height: 250px;
  opacity: 0.79;
  background-color: #1e4393; 
  background-image: url(img/party-glass-architecture-windows-34092@2x.png);
}
.talk{
  position: relative;
  font-family: Heebo;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;  
  color: #ffffff;
  left: 90px;
}
.talk hr{
  position: relative;
  width:5%;
  size:50px;
  left: -310px;
 
}
.contast{
  position: relative;
  width: 240px;
  height: 60px;
  border-radius: 10px;
  background-color: #ffffff;
  top: 40px;
  left: -510px;
}
.talk1{
  position: relative;
  font-family: Heebo;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  top:-120px ;
  color: #ffffff;
  left: 1050px;
}
.talk1 hr{
  position: relative;
  width:5%;
  size:50px;
  left: -310px;
  top: 20px;
 
}
.tel p{
  
  position: relative;
  font-family: Heebo;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
   letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  top:-150px;
 left: 1050px;
}
.section-rectangle{
  width: 1440px;
  height: 8px;
  background-color: #f7b809;
}
.section-footer{
  width: 1440px;
  height: 336px;
  background-color: #1e4393;
}
.Helpful-tools p {  
  position: relative;
  width: 162px;
  height: 37px;
  font-family: Heebo;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 1.48px;
  text-align: left;
  color: #ffffff;
  top: -210px;
 right: 400px;
}
.where{
  position: relative;
  width: 235px;
  height: 150px;
  font-family: Heebo;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  top: 70px;
  left: -350px;
}
.support{
  position: relative;
     font-family: Heebo;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: 1.48px;
    text-align: left;
    color: #ffffff;
    left: 650px;
    top:-140px;
  }
  .e-mail{
    position: relative;
    
    font-family: Heebo;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    top:-150px;
    left: 650px;
  }
  .uesf{
    position: relative;
    font-family: Heebo;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: 1.48px;
    text-align: left;
    color: #ffffff;
    top:-310px;
    left: 1060px;
  }
  .face ul{ 
    position: relative;
    top: -310px;
    left: 1020px;
    list-style-type: none;
  }
  .skye{
    position: relative;
    font-family: Heebo;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    top:-490px;
    left: 1100px;
  }