*{margin: auto;}

  .wrap{    
    width: 1440px ;
    background-color: brown;
    height: 4100px;
  }
  .header{
    height: 811px;
    background-color: #000000; 
    background-image: url(img/bannen1.png);
  }
  .logo{
    width: 1140px;
    height: 133px;
    background-color: #ffffff;
  }
   .img{
     width: 129px;
     height: 113px;
   }
  
  .menu_iterm{
    height: 50px;
    width: 600px;
    background-color:#fcfcfc;
    margin-right: 0px;
    margin-top: -100px;
    
 
  }
  .menu_iterm ul{
    list-style-type: none;
  }
  .menu_iterm li{
    float: left;
    width: 45px;    

  }
  
  .form-inline{
   width: 300px;
   margin-left: 350px;
  }
  .menu{
    width: 650px;
    height: 21px;
    background-color: #ffffff ;
   margin-top: 20px;
   margin-left: 250px;
  }
  .menu ul{
    list-style-type: none;
    padding-left: 5px;
  }
 .menu li{
float: left;
width: 125px;    
line-height: 21px;
padding-left: 20px;
text-align: center;
      
 }
 .menu a{
  text-decoration: none;
  font-size: 14px;
  font-family: Heebo;
  font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;

 }
 .text-1{
   color: #3106f0;
 }
 .usa{
  width: 158.4px;
  height: 67.5px;
  box-shadow: 0 3px 0 0 #09235a;
  background-color: #1e4393;
  margin-left: 700px;
  box-shadow: 0 3px 0 0 #09235a;
  border-radius: 15px
 }
 .usa img{
   margin: 20px 92px 21px 26px;
 }
 .p{
  width: 250px;
  height: 19px;
  float: left;
 }
  .usa p{
    width: 25px;
    height: 19px;
    font-family: Heebo;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
   margin-top: -50px;
  margin-left: 80px;
  
  }
  .new{
    width: 1140px;
    height: 214px;
    
    margin-top: 200px;
    font-family: Heebo;
    font-size: 47px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .new p {
    font-family: Heebo;
    font-size: 77px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

  }
  .new lorem {
    font-family: Heebo;
    font-size: 77px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  
  }
.layer ul{
  position: relative;
  top: 150px;
  left: 40px;
  list-style-type: none;
  
}
  .layer li{
    float: left;
   margin-left: 38px;

  }
  
  .layer p{
    position: absolute;
    height: 210px;
    width: 361px;
    background-color: darkblue;
    top:220px;
    left: 78px;
  }
  
  .noidung {
    position: relative;
    height: 210px;
    width: 361px;
    background-color: darkblue;
    top: 385px;
    right: 422px;
  }
  .noidung h1{
    position: absolute;
    top:30px;
    left: 30px;
    font-family: Heebo;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  }
  .noidung hr{
    position: absolute;
   width: 30%;
  size: 5px;
     
  }
  .noidung ul{
    position: absolute;
    top:30px;
    left: 30px;
  }
  .noidung p{
    color: darkgray;
  }
  .noidung br{
    color:darkorange;
  }
  .noidung2 {
    position: relative;
    height: 210px;
    width: 361px;
    background-color: darkblue;
    top:146px;
    right: 562px;
    float: right;
  }
  .noidung2 h1{
    position: absolute;
    top:30px;
    left: 30px;
    font-family: Heebo;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  }
  .noidung2 ul{
    position: absolute;
    top:30px;
    left: 30px;
  }
  .noidung2 p{
    color: darkgray;
  }
  .noidung2 br{
    color:darkorange;
  }

  .noidung3 {
    position: relative;
    height: 210px;
    width: 361px;
    background-color: darkblue;
    top:175px;
    left: 377px;
    
  }
  .noidung3 h1{
    position: absolute;
    top:30px;
    left: 30px;
    font-family: Heebo;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  }
  .noidung2 hr{
    position: absolute;
   width: 30%;
  size: 5px;
     
  }
  .noidung3 ul{
    position: absolute;
    top:30px;
    left: 30px;
  }
  .noidung3 p{
    color: darkgray;
  }
  .noidung3 br{
    color:darkorange;
  }
  .noidung3 hr{
    position: absolute;
   width: 30%;
  size: 5px;
     
  }

  .princing{
   height: 250px; 
   background-image: url(img/citii.png);
    background-color: #1e4393;
     
 }
 .Rectangle2{
  position: relative;
  width: 1440px;
  height: 249px;
  opacity: 0.79;
  background-color: #1e4393;
}
.whatup{
  position: relative;
  top: -200px;
  color: #ffffff;
}
.whatup p{
  position: absolute; 
  font-family: Heebo;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.78;
  letter-spacing: 1.91px;
  text-align: left;
  color: #ffffff;
  top: 50px;
  left: 650px;
}
.whatup hr{
  position: absolute;
 width: 10%;
size: 5px;
left: 680px;
   
}
 .step{
   height: 576px;
   background-color: #ffffff;
 
 }
 .step1{
   position: relative;
 top:20px;
 left: 50px;
 }
 .noidung1 {   
  font-family: Heebo;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
 }
 .step2{
   position: absolute;
   margin-left: 500px;
  margin-top: -100px;
   
 }
 .step3{
   position: absolute;
  margin-left: 1000px;
  margin-top: -100px;
  
 }
 .step4{
    position: absolute;
  margin-left: 50px;
  margin-top: 50px;
 }
 .step5{
  position: absolute;
  margin-left: 500px;
  margin-top: 50px;
 }
 .step6{
  position: absolute;
  margin-left: 1000px;
  margin-top: 50px;
 }
 .Rectangle1{
  position: relative;
  width: 1440px;
  height: 249px;
  opacity: 0.79;
  background-color: #1e4393;
}
.whatup1{
  position: relative;
  top: -200px;
  color: #ffffff;
}
.whatup1 p{
  position: absolute; 
  font-family: Heebo;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.78;
  letter-spacing: 1.91px;
  text-align: left;
  color: #ffffff;
  top: 50px;
  left: 650px;
}
.whatup1 hr{
  position: absolute;
 width: 10%;
size: 5px;
left: 650px;
}
.Path{
  width: 1440px;
  height: 872px;
  background-color: floralwhite;

}

.sliver{
  position: relative;
  height: 707px;
  width: 370px;
  background-color: cornsilk;
  top: 70px;
  right: 400px;
}
.bg{
  width: 370px;
  height: 85px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #dfdfdf;
}
.bg p {  
  font-family: Heebo;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: 3.47px;
  text-align: center;
  color: #ffffff;
}
.all h2{
  position: relative;
 
  font-family: Heebo;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal; 
  letter-spacing: normal;
  text-align: center;
  color: #4d4f5c;
  top:15px;
}
.all h1 {
  position: relative;
  font-family: Heebo;
  font-size: 70px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: right;
  color: #1e4393;
  top:30px;
  right: 110px;
}
.month{
  position: relative;
  font-family: Heebo;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: left;
  color: #1e4393;
  left:270px;
  top: -20px;
}
.danhmuc ul{
position: relative;
background: #f5f6fa;
padding: 0;
text-align:left;
list-style-type: none;
top:60px;


}
.danhmuc li{  
  position: relative;
 height: 46px;
 border-bottom: 1px solid #e8e8e8;
 
}
.danhmuc a{
  position: relative;
  left: 120px;
  font-family: Heebo;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #43425d;
  text-decoration: none;
}
.danhmuc span{
  position: absolute;
  top: -95px;
  font-size: 70px;
  left: -20px;
}
.try{
  width: 370px;
  height: 170px;
  background-color: #1e4393;
}
.try p{
  position: absolute;
  width: 98px;
  height: 27px;
  font-family: Heebo;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 12;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  left: 130px;
}


.gold{
  position: relative;
  height: 707px;
  width: 370px;
  background-color: cornsilk;
  top: -630px;
  right: 500px;
  float: right;
}
.bg1{
  width: 370px;
  height: 85px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #f7b809;
}
.bg1 p {  
  font-family: Heebo;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: 3.47px;
  text-align: center;
  color: #ffffff;
}
.all h2{
  position: relative;
 
  font-family: Heebo;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal; 
  letter-spacing: normal;
  text-align: center;
  color: #4d4f5c;
  top:15px;
}
.all h1 {
  position: relative;
  font-family: Heebo;
  font-size: 70px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: right;
  color: #1e4393;
  top:30px;
  right: 110px;
}
.month{
  position: relative;
  font-family: Heebo;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: left;
  color: #1e4393;
  left:270px;
  top: -20px;
}
.danhmuc ul{
position: relative;
background: #f5f6fa;
padding: 0;
text-align:left;
list-style-type: none;
top:60px;


}
.danhmuc li{  
  position: relative;
 height: 46px;
 border-bottom: 1px solid #e8e8e8;
 
}
.danhmuc a{
  position: relative;
  left: 120px;
  font-family: Heebo;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #43425d;
  text-decoration: none;
}
.danhmuc span{
  position: absolute;
  top: -95px;
  font-size: 70px;
  left: -20px;
}
.try{
  width: 370px;
  height: 170px;
  background-color: #1e4393;
}
.try p{
  position: absolute;
  width: 98px;
  height: 27px;
  font-family: Heebo;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 12;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  left: 130px;
}


.pla{
  position: relative;
  height: 707px;
  width: 370px;
  background-color: cornsilk;
  top: -630px;  
  float: right;
  right: -300px;
}
.bg2{
  width: 370px;
  height: 85px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #fe9f10;
}
.bg2 p {  
  font-family: Heebo;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: 3.47px;
  text-align: center;
  color: #ffffff;
}
.all h2{
  position: relative;
 
  font-family: Heebo;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal; 
  letter-spacing: normal;
  text-align: center;
  color: #4d4f5c;
  top:15px;
}
.all h1 {
  position: relative;
  font-family: Heebo;
  font-size: 70px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: right;
  color: #1e4393;
  top:30px;
  right: 110px;
}
.month{
  position: relative;
  font-family: Heebo;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: normal;
  text-align: left;
  color: #1e4393;
  left:270px;
  top: -20px;
}
.danhmuc ul{
position: relative;
background: #f5f6fa;
padding: 0;
text-align:left;
list-style-type: none;
top:60px;


}
.danhmuc li{  
  position: relative;
 height: 46px;
 border-bottom: 1px solid #e8e8e8;
 
}
.danhmuc a{
  position: relative;
  left: 120px;
  font-family: Heebo;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #43425d;
  text-decoration: none;
}
.danhmuc span{
  position: absolute;
  top: -95px;
  font-size: 70px;
  left: -20px;
}
.try{
  width: 370px;
  height: 170px;
  background-color: #1e4393;
}
.try p{
  position: absolute;
  width: 98px;
  height: 27px;
  font-family: Heebo;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 12;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  left: 130px;
}

.party{
  height: 250px;
  opacity: 0.79;
  background-color: #1e4393; 
  background-image: url(img/party-glass-architecture-windows-34092@2x.png);
}
.talk{
  position: relative;
  font-family: Heebo;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;  
  color: #ffffff;
  left: 90px;
}
.talk hr{
  position: relative;
  width:5%;
  size:50px;
  left: -310px;
 
}
.contast{
  position: relative;
  width: 240px;
  height: 60px;
  border-radius: 10px;
  background-color: #ffffff;
  top: 40px;
  left: -510px;
}
.talk1{
  position: relative;
  font-family: Heebo;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  top:-120px ;
  color: #ffffff;
  left: 1050px;
}
.talk1 hr{
  position: relative;
  width:5%;
  size:50px;
  left: -310px;
  top: 20px;
 
}
.tel p{ 
  position: relative;
  font-family: Heebo;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
   letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  top:-100px;
 left: 1050px;
}

.Rectangle {
  width: 1440px;
  height: 8px;
  background-color: #f7b809;
}
.Rectangle-42 {
  width: 1440px;
  height: 336px;
  background-color: #1e4393;
}
.help p{  
  position: relative;
  font-family: Heebo;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.48px;
  text-align: left;
  color: #ffffff;
  top: 60px;
  left: 200px;
}
.where p{
 position: relative;
  font-family: Heebo;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  top: 50px;
  left: 200px;
}
.support{
position: relative;
   font-family: Heebo;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 1.48px;
  text-align: left;
  color: #ffffff;
  left: 650px;
  top:-140px;
}
.e-mail{
  position: relative;
  
  font-family: Heebo;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  top:-150px;
  left: 650px;
}
.uesf{
  position: relative;
  font-family: Heebo;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 1.48px;
  text-align: left;
  color: #ffffff;
  top:-308px;
  left: 1060px;
}
.face ul{ 
  position: relative;
  top: -300px;
  left: 1020px;
  list-style-type: none;
}
.skye{
  position: relative;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  top:-480px;
  left: 1100px;
}
.Rectangle-38 {
  width: 1440px;
  height: 95px;
  background-color: #092a70;
}
.allright {
  position: relative;
  font-family: Heebo;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
   top:20px;
   left: 200px;
}
.menu2{
  width: 650px;
  height: 21px;
  background-color: #092a70;
 margin-top: 20px;
 margin-left: 700px;
}
.menu2 ul{
  list-style-type: none;
  padding-left: 5px;
}
.menu2 li{
float: left;
width: 125px;    
line-height: 21px;
padding-left: 20px;
text-align: center;
    
}
.menu2 a{
text-decoration: none;
font-size: 14px;
font-family: Heebo;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;
color:honeydew;

}
